
<h1>Create student</h1>
<div class="row">
  <form method="post" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstName" name="firstName" type="text" class="validate" style="color: #fff">
        <label for="firstName">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" name="lastName" type="text" class="validate" style="color: #fff">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    @* <div class="row"> *@
    @*   <div class="input-field col s12"> *@
    @*     <input id="address" name="address" type="text" class="validate" style="color: #fff"> *@
    @*     <label for="address">Address</label> *@
    @*   </div> *@
    @* </div> *@
    @* <div class="row"> *@
    @*   <div class="input-field col s12"> *@
    @*     <input id="indexNumber" name="indexNumber" type="text" class="validate" style="color: #fff"> *@
    @*     <label for="indexNumber">Index Number</label> *@
    @*   </div> *@
    @* </div> *@
    @* <div class="row"> *@
    @*   <div class="input-field col s12"> *@
    @*     <input id="email" name="email" type="email" class="validate" style="color: #fff"> *@
    @*     <label for="email">Email</label> *@
    @*   </div> *@
    @* </div> *@
    <button type="submit" class="btn">Create</button>
  </form>
</div>
